.day-labels {
    font-family: Dekko;
    font-weight: 600;
}

.date-label {
    font-family: Actor;
    font-weight: 700;
    font-size: 12px;
}

.back {
    &:hover>rect {
        stroke: #000;
        stroke-width: 2px;
        cursor: pointer;
    }

    &:hover>text {
        font-size: 13px;
        font-weight: 900;
    }
}

.back>text {
    pointer-events: none;
}