@import "../common/variables.scss";

.user-page {
    width: $page-width;
    height: $page-height;
    margin: auto;
}

.user-row-label{
    &:hover{
        text-decoration: line-through;
        cursor: pointer;
    }
}