@font-face {
    font-family: "Dekko";
    src: url("../../static/fonts/Dekko_Regular.ttf");
}

@font-face {
    font-family: "Actor";
    src: url("../../static/fonts/Actor_Regular.ttf");
}

$primary-color: #6298e8;
$navbar-height: 55px;