@import "./components/common/variables.scss";

.App {
  margin: auto;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

p {
  margin: 0;
}

.category-input:focus {
  outline: none;
}

.svg-container {
  overflow: visible;
  z-index: -1;
}

.day-labels {
  font-family: Dekko;
  font-weight: 600;
}

.date-label {
  font-family: Actor;
  font-weight: 700;
  font-size: 12px;
}
.date-label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tooltip {
  /* border: 1px solid #6298e8; */
  background: #111;
  opacity: 0.85;
}

.tooltip-expense-name {
  padding: 5px 7px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Actor;
  color: #fff;
  font-weight: 500;
}

.tooltip-expense-amount {
  padding: 3px 5px;
  font-family: Actor;
  color: #fff;
  font-weight: 500;
}
